/webserv/target/
**/target/
**/googleDocGw/
**/nbactions.xml
**/nb-configuration.xml
**/citizenScience/
**/Main.java
log.txt
ouaws/*.log
dspaceManager/src/main/java/org/shareok/data/dspacemanager/DspaceJournalData.java
ouaws/.metadata/
commons-imaging/
!**/src/main/java/org/shareok/data/kernel/api/services/Main.java
.idea/
**/*.iml
