/webserv/target/
**/target/
**/googleDocGw/
**/nbactions.xml
**/nb-configuration.xml
**/citizenScience/
**/Main.java
ouaws/*.log
dspaceManager/src/main/java/org/shareok/data/dspacemanager/DspaceJournalData.java
ouaws/.metadata/
